In [1]:
#Question1 Write a function that takes a list and a number as arguments. Add the number to the end of the list, then remove the first element of the list. The function should then return the updated list.

def next_in_line(lst,n):
    if len(lst)==0:
        return 'no list has been selected'
    else:
        lst.pop(0)
        lst.append(n)
    return lst

In [2]:
next_in_line([5, 6, 7, 8, 9], 1)

[6, 7, 8, 9, 1]

In [3]:
#Question2 Create the function that takes a list of dictionaries and returns the sum of people's budgets.

def get_budget(lst):
    budget=0
    for i in lst:
        for j in i:
            if j=='budget':
                budget+=i[j]
    return budget

In [4]:
get_budget([
{ 'name': 'John', 'age': 21, 'budget': 23000 },
{ 'name': 'Steve', 'age': 32, 'budget': 40000 },
{ 'name': 'Martin', 'age': 16, 'budget': 2700 }
])

65700

In [5]:
#Question3 Create a function that takes a string and returns a string with its letters in alphabetical order.

def alphabet_soup(string):
    return ''.join(sorted(string))

In [6]:
alphabet_soup('hello')

'ehllo'

In [7]:
#Question4 Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

def compound_interest(p,t,r,n):
    return round(p*(pow(1+(r/n),n*t)),2)

In [8]:
compound_interest(100, 1, 0.05, 1)

105.0

In [9]:
compound_interest(3500, 15, 0.1, 4)

15399.26

In [10]:
#Question5 Write a function that takes a list of elements and returns only the integers.

def return_only_integer(lst):
    lst1=[]
    for i in lst:
        if type(i)==int:
            lst1.append(i)
    return lst1

In [11]:
return_only_integer([9, 2, 'space', 'car', 'lion', 16])

[9, 2, 16]